li {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: larger;
    background-color: bisque;
}
.headings{

    justify-content: center;
    text-align: center;
    font-size: xx-large;
}

.btn{
    font-size: xx-large;
    background-color: bisque;
}